@{
    ViewData["Title"] = "Home Page";
}

@model RandomPass
<div class="text-center">
    <div class="container mt-5 pt-5">
        @* <h1>Random passcode #1</h1> *@
        <form class="col col-md-4 mx-auto" asp-action="Random" method="post">
            <div class="row mb-3 p-3">
                <label asp-for="Pass" class="text-left form-label fw-semibold fs-1">Random passcode
                    #@Context.Session.GetInt32("Count")</label>
                @{
                    if (Context.Session.GetString("Pass") != null)
                    {
                        <input asp-for="Pass" class="form-control border-4 mx-auto" value='@Context.Session.GetString("Pass")'>
                    }
                    else
                    {
                        <input asp-for="Pass" class="form-control border-4 mx-auto" value=''>
                    }
                }
                @* <span asp-validation-for="Name"></span> *@
            </div>
            <input type="submit" class="submit btn border border-3 border-dark fw-bold text-body shadow px-4 py-2 fs-4"
                value="Generate" />
        </form>
    </div>
</div>
